body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #3333;
  background: #d1d1d1;
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}