body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #3333;
  background: #ffffff;
  background-position: center;
  background-size: cover;
}

.app {
  color: black;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f0f0f0;
  box-shadow: 10px 5px 5px rgb(107, 107, 107) ;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #333974;
  color: #ffff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity:0.8;
  transition:0.3;
}

button:hover {
  opacity: 1;
}

.complete{
  color: black;
  background-color: #00ff11;
}

.remove {
  color: black;
  background-color: red;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border:  1px solid #ffffff;
  border-radius: 3px;
  width: 99%;
}